<a href="https://colab.research.google.com/github/NealWhitlock/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/LS_DS11_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [1]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2019-12-03 20:32:16--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [          <=>       ]  21.69M   430KB/s    in 52s

2019-12-03 20:33:09 (424 KB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22744357]

In [2]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [69]:
# Import pandas
import pandas as pd

# Read in CSV
df = pd.read_csv('LoanStats_2018Q4.csv', header=1, skipfooter=2)
print(df.shape)
df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  after removing the cwd from sys.path.

(128412, 144)

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [0]:
# Drop the 100% blank columns

df = df.drop(['url', 'member_id', 'desc', 'id'], axis=1)

In [71]:
df['term'].head(10)

0     36 months
1     60 months
2     60 months
3     36 months
4     60 months
5     36 months
6     36 months
7     60 months
8     36 months
9     60 months
Name: term, dtype: object

In [72]:
# Checking how many different values there are.
df['term'].value_counts()

 36 months    88179
 60 months    40233
Name: term, dtype: int64

In [73]:
df['term'][7]

' 60 months'

In [0]:
term = ' 24 months'

In [75]:
term.strip()

'24 months'

In [76]:
term.strip('months')

' 24 '

In [77]:
term.strip('months').strip()

'24'

In [78]:
int(term.strip('months').strip())

24

In [0]:
# Function to strip 'months' and whitespace from terms column entries

def term_to_int(contents):
  return int(contents.strip('months').strip())

In [80]:
# Apply changes to term column to leave only integer values
df['term'] = df['term'].apply(term_to_int)

df['term'].value_counts()

36    88179
60    40233
Name: term, dtype: int64

In [81]:
df['loan_status'].value_counts()

Current               100571
Fully Paid             19545
Charged Off             4433
Late (31-120 days)      2662
In Grace Period          730
Late (16-30 days)        467
Default                    4
Name: loan_status, dtype: int64

In [0]:
# Creating a list to test function
statuses = ['Current', 'Fully Paid', 'Charged Off', 'In Grace']

In [83]:
# Function to code loan status as 0's and 1's
# Current and Fully Paid get 1's while everything else gets 0's

def loan_state(status):
  if status == 'Current' or status == 'Fully Paid':
    return 1
  else:
    return 0

for status in statuses:
  print(loan_state(status))

1
1
0
0

In [84]:
df['loan_status_is_great'] = df['loan_status'].apply(loan_state)

df['loan_status_is_great'].value_counts()

1    120116
0      8296
Name: loan_status_is_great, dtype: int64

In [85]:
df.head()

   loan_amnt  funded_amnt  ...  settlement_term  loan_status_is_great
0      20000        20000  ...              NaN                     1
1      25000        25000  ...              NaN                     1
2      26500        26500  ...              NaN                     1
3      10400        10400  ...              NaN                     1
4      35000        35000  ...              NaN                     1

[5 rows x 141 columns]

In [86]:
df['last_pymnt_d'].head(10)

0    Nov-2019
1    Apr-2019
2    Oct-2019
3    Oct-2019
4    Apr-2019
5    Feb-2019
6    Oct-2019
7    Sep-2019
8    Oct-2019
9    Nov-2019
Name: last_pymnt_d, dtype: object

In [87]:
df['last_pymnt_d'] = pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True)

df['last_pymnt_d'].dtypes

dtype('<M8[ns]')

From what I can see online the <M8 data type is just like the datetime64 type but I'm getting floats back instead of ints after getting the month and year.

In [88]:
df['last_pymnt_d'].head()

0   2019-11-01
1   2019-04-01
2   2019-10-01
3   2019-10-01
4   2019-04-01
Name: last_pymnt_d, dtype: datetime64[ns]

In [89]:
df['last_pymnt_d_month'] = df['last_pymnt_d'].dt.month
df['last_pymnt_d_year'] = df['last_pymnt_d'].dt.year

df.head()

   loan_amnt  funded_amnt  ...  last_pymnt_d_month  last_pymnt_d_year
0      20000        20000  ...                11.0             2019.0
1      25000        25000  ...                 4.0             2019.0
2      26500        26500  ...                10.0             2019.0
3      10400        10400  ...                10.0             2019.0
4      35000        35000  ...                 4.0             2019.0

[5 rows x 143 columns]

In [90]:
df['last_pymnt_d_month'].value_counts(dropna=False)

11.0    94917
10.0    10841
7.0      3156
9.0      2871
8.0      2758
5.0      2547
4.0      2356
6.0      2285
3.0      1984
2.0      1915
1.0      1561
12.0     1062
NaN       159
Name: last_pymnt_d_month, dtype: int64

HA! They're floats because there are NaN values!

In [0]:
df['last_pymnt_d_month'].fillna(0, inplace=True)
df['last_pymnt_d_year'].fillna(0, inplace=True)

In [92]:
df['last_pymnt_d_month'].value_counts(dropna=False)

11.0    94917
10.0    10841
7.0      3156
9.0      2871
8.0      2758
5.0      2547
4.0      2356
6.0      2285
3.0      1984
2.0      1915
1.0      1561
12.0     1062
0.0       159
Name: last_pymnt_d_month, dtype: int64

In [93]:
df['last_pymnt_d_year'].value_counts(dropna=False)

2019.0    126286
2018.0      1967
0.0          159
Name: last_pymnt_d_year, dtype: int64

In [0]:
# Function to turn floats into ints

def float_to_int(value):
    return int(value)

In [0]:
df['last_pymnt_d_month'] = df['last_pymnt_d_month'].apply(float_to_int)
df['last_pymnt_d_year'] = df['last_pymnt_d_year'].apply(float_to_int)

In [96]:
df.head(10)

   loan_amnt  funded_amnt  ...  last_pymnt_d_month  last_pymnt_d_year
0      20000        20000  ...                  11               2019
1      25000        25000  ...                   4               2019
2      26500        26500  ...                  10               2019
3      10400        10400  ...                  10               2019
4      35000        35000  ...                   4               2019
5      20000        20000  ...                   2               2019
6      13000        13000  ...                  10               2019
7      12000        12000  ...                   9               2019
8      12000        12000  ...                  10               2019
9      36000        36000  ...                  11               2019

[10 rows x 143 columns]

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01